@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --primary: #370617;
  --secondary: hsl(92, 24%, 70%);
  --tertiary: #e7b287;
  --accent: #081c15;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}

.container {
  padding: 10px;
}

.notes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5em;
}

.note {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}

.note__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5em;
  width: 100%;
}

.note__button {
  appearance: none;
  background-color: transparent;
  border: none;
  display: block;
  outline: none;
}

.note__button--primary {
  background-color: var(--primary);
  color: var(--secondary);
}

.note__button--primary,
.note__button--secondary,
.note__input {
  border-radius: 10px;
  display: block;
  font-size: 1.1em;
  padding: 0.8em;
}

.note__button--primary,
.note__button--secondary {
  border: 1px solid var(--primary);
}

.note__buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

.note--classic {
  align-items: center;
  background-color: var(--secondary);
  color: var(--accent);
}

.note--empty {
  align-items: center;
  border: 1px dashed var(--secondary);
  color: var(--secondary);
}

.note__form {
  align-items: flex-start;
  background-color: var(--tertiary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5em;
}

.note__form--new {
  background-color: var(--tertiary);
  color: var(--accent);
}

.note__form--edit {
  background-color: var(--tertiary);
  color: var(--accent);
}

.note__input {
  border: none;
  width: 90%;
}

.note__button--new {
  border: 1px solid var(--secondary);
  border-radius: 50%;
  color: var(--secondary);
  height: 2em;
  width: 2em;
}

.note__button--new:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.note__icon {
  font-size: 1.13em;
}

.note__input:focus {
  outline: none;
}

.note__label {
  display: block;
  text-align: left;
}

.note__text {
  font-size: 1.2em;
  display: block;
  padding: 4em;
  text-align: center;
  width: 100%;
}
