@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --primary: #370617;
  --secondary: hsl(92, 24%, 70%);
  --tertiary: #e7b287;
  --accent: #081c15;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  font-family: "Open Sans", sans-serif;
}

button {
  appearance: none;
  background-color: transparent;
  color: var(--secondary);
  border: none;
  display: block;
  outline: none;
}

input:focus {
  outline: none;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  margin: 0.5em 0;
}

i {
  color: var(--secondary);
}

section {
  padding: 0 0.5em;
}
